/node_modules
/public/hot
/public/storage
/public/assets/styles
/public/assets/scripts
/public/assets/fonts
/public/fonts
/public/assets/mix-manifest.json
/public/mix-manifest.json
/storage/*.key
/storage/clockwork/
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
